body {
    background-color: bisque;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

li {
    list-style-type: none;
}

.startquiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: inset;
    border-radius: 10px;
    border-color: blueviolet;
    flex-basis: auto;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: inset;
    border-radius: 10px;
    border-color: blueviolet;
    flex-basis: auto;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px; 
}

.option-buttons {
    display: flex;
    flex-direction: column;
}

.option-buttons a:hover {
    border-color: green;
}

#hide-questions {
    display: none;
}

#hide-score {
    display: none;
}

.alldone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: inset;
    border-radius: 10px;
    border-color: blueviolet;
    flex-basis: auto;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px; 
}

#hide-highscores {
    display: none;
}

.highscores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: inset;
    border-radius: 10px;
    border-color: blueviolet;
    flex-basis: auto;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px; 
}